DEEPINFRA_API_KEY=VpKSUDAfhcjcSGHOG8FkBLlvxNnJEAg1
DEEPINFRA_MODEL=meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo
DEEPINFRA_CHAT_URL=https://api.deepinfra.com/v1/openai/chat/completions
UPWORK_API_DOC_PATH=C:\Users\hp\Desktop\ProAnalyst_assignment\API Documentation Partial.pdf
FAISS_INDEX_DIR=.faiss_index
